.brand-image-style img{
    height: 35px;
    padding-right: 25px;
}

.background-style{        
    position: relative;
    height: 580px;
    overflow: hidden;
}

.header__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(yellow, #f4c013);
    transform: skewY(-6deg);
    transform-origin: top left;
  }